{% extends 'base.html' %}

{% block body %}

<div style="margin: 5%; text-decoration: underline;">
    <img src="/static/img/IMG_1583.JPG" alt="" style="">
    <br>
    <br>
    <h2><a href="/pre_temp" target="newtab">地熱流体温度・圧力</a></h2>
    <h2><a href="/steam_water" target="newtab">蒸気流量・熱水流量（セパレーター圧力条件）</a></h2>
    <h2><a href="/steam_water_well" target="newtab">蒸気流量・熱水流量（坑口条件）</a></h2>
    <h2><a href="/onsen" target="newtab">温泉状況</a></h2>
    <h2><a href="/water" target="newtab">山水状況</a></h2>

</div>


{% endblock %}